<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="fas fa-golf-ball"></i>
            <%= @course[:date] %>
        </h2>
        <h1><%= @course[:title] %></h1>
        <p><%= @course[:description] %></p>
</div>